# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Cache de pytest
.pytest_cache/

# Entornos virtuales
.venv/
venv/
env/

# Configuración de VS Code
.vscode/
#configuracion privada
conn/config.py
